* {
  border: 1px solid;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: 
  'Header Header'
  'Aside Main'
  'Footer Footer'
  ;
  height: fit-content;
}

header {
  grid-area: Header;
}

aside {
  grid-area:  Aside;
}

main {
  flex-wrap: wrap;
  grid-area: Main;
}

footer {
  grid-area: Footer;
}

.bears-img {
  width: 70%;
}

.flex {
  display: flex;
}