* {
  font-family: filicudi-solid, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 23% 106% 12%;
  grid-template-areas: 
  'Header'
  'Main'
  'Footer'
  ;
  height: fit-content;
}

header {
  border-bottom: 3px solid #235fe2;
  align-content: center;
  grid-area: Header;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 70%;
}

nav {
  align-content: center;
  align-self: center;
  height: fit-content;
  box-shadow: black;
  width: 100%;
}

ul {
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  list-style: none;
  padding: 10px;
  width: 100%;
}

h1 {
  align-self: center;
  color: #000000;
  font-family: hwt-mardell, sans-serif;
  font-weight: 400;
  font-size: 5em;
  font-style: normal;
  text-align: center;
  width: 100%;
}

li:hover {
  background-color: #ffffff;
  box-shadow: 5px 5px #000000;
  color: black;
}

main {
  flex-wrap: wrap;
  grid-area: Main;
  justify-content: center;
  padding: 10px;
}

p {
  line-height: 25px;
}

/* section {
  align-items: center;
  justify-content: center;
  width: 70%;
} */

footer {
  align-items: center;
  flex-wrap: wrap;
  grid-area: Footer;
  justify-content: center;
  margin: 15px 0px;
}

.flex {
  display: flex;
}

.header-about,
.header-gallery {
  margin-top: 5%;
}

.bears-label {
  text-align: center;
  width: 70%;
}

.bears-img {
  width: 70%;
}

.moose-img {
  width: 20%;
}


.nav-li {
  margin: 5px;
}

.nav-li,
.footer-li {
  border-radius: 5px;
  color: #235fe2;
  cursor: pointer;
  font-size: 30px;
  height: fit-content;
  padding: 15px;
  text-align: center;
  width: 17%;
}

.new-release-h2,
.next-release-h2 {
  align-self: center;
  font-family: filicudi-solid, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.bears-h3,
.next-release-h3 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.main-top-div {
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.new-release-paragraph {
  width: 100%;
}

.about-main {
  align-items: flex-start;
}

.about-paragraph-container,
.about-img-container {
  margin: 5px;
  width: 47%;
}

.about-paragraph-container {
  align-self: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.about-img-container {
  align-items: center;
}

.about-img {
  height: 60%;
  width: 100%;
}

.about-paragraphs,
.next-release-paragraph {
  text-align: center;
}

.about-form {
  border: 1px solid black;
  height: fit-content;
  justify-content: center;
  padding: 5%;
  width: 70%;
}

.about-name-input,
.about-email-input,
.about-enter-btn {
  height: 30px;
  margin: 5px;
  width: 30%;
}

.gallery-link {
  padding-left: 4px;
}

.gallery-images {
  height: 50%;
  width: 100%;
}

.main-gallery-section {
  border: 1px solid black;
  width: 70%;
}

.recent-gallery-div {
  width: 50%;
}

.main-bottom-section {
  flex-wrap: wrap;
  width: 70%;
}

.footer-ul {
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.footer-li {
  align-self: center;
  margin: 0px;
}